@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Three Tier Application </h1>
    @{
        var x = Environment.MachineName;

    }
    <label> current machine name:@x </label>
    
</div>
